# See https://help.github.com/ignore-files/ for more about ignoring files.

# large files and other crap
/cli/background_slices
/cli/old_images
/cli/__pycache__
/cli/.bash_history
cli/new_base_fullsize.png
cli/BasementComp-03.jpg
.vscode
