/* about link */


#about {
    position: absolute;
    background: #EFEFEF;
    right: 45px;
    bottom: 50px; 
}

#about button{
    height: 55px;
    width: 60px;
}

#about a {
    text-decoration: none;
}

/*Plain CSS*/

.modal {
    position: fixed;
    opacity: 0;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}
.modal.fade .modal-inner {
    /*transform: translateY(-100px);*/
    transition: all .3s ease-in-out;
}
.modal.fade.in {
    opacity: 1;
    transition: all .3s ease-in-out;
}
.modal.fade.in .modal-inner {
    transform: translateY(0);
    height: auto;
    box-shadow: 0 2px 3px 0 #303030;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    width: auto;
    max-width: 45%;
    padding: 20px;
    background-color: rgba(255,255,255,0.6);
}
.modal-backdrop {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

/*base styling*/

.modal-inner {
    display: inline-block;
    text-align: left;
    background-color: #eee;
    color: #000;
    padding: 22px;
}


.inside-text-author {
    font-size: 20px;
    font-weight: bold;
}

.inside-text-title {
    font-size: 20px;
}

.inside-text-date {
    font-size: 20px;
}

.inside-text-link {
    font-size: 20px;
}


#close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.3em;
    cursor: pointer;
}